{% extends 'products/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        {% for product in object_list %}
        <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">{{ product.name|default:"Ещё один заголовок" }}</h2>
                <p class="lead">{{ product.description|default:"И ещё более остроумный подзаголовок" }}</p>
            </div>

            {% if product.image %}
                <img src="{{ product.image.url }}" class="img-fluid rounded" alt="{{ product.name }}" style="width: 60%; object-fit: cover;">
            {% else %}
                <div class="bg-body-tertiary shadow-sm mx-auto d-flex align-items-center justify-content-center" style="width: 60%; height: 150px; border-radius: 21px 21px 0 0;">
                    <span class="text-muted">Нет изображения</span>
                </div>
            {% endif %}

            <!-- Кнопка под картинкой (всегда видна) -->
            <div class="card-body">
                <p class="card-text">{{ product.name }}</p>
                <div class="d-flex gap-3 mt-4 justify-content-center">
                    <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-primary">
                        Узнать больше
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="text-center p-5">
            <p>Товаров пока нет</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}